extends ../index-template

block variables
  - let page_title = "Home"
  - let max_content_size = 285

block content
  each item in articles
    .article
      a.article__header(href=item.link)=item.title
      .article__pub-date
        i.far.fa-clock
        | &nbsp;#{item.pubDate}
      .article__body
        a.article__pane(href=item.link)
          img.article__image(src=item.imageSrc, alt="Article image")
        .article__tags
          each tag in item.tags
            a.article__tag(href=tag.link)=tag.text
        - let text = item.content.length > max_content_size ? item.content.substr(0, max_content_size) + "..." : item.content
          .article__content=text
        .article__functions
          .article__btn Read More

          .article__icons
            a(href="#")
              i.icon__item.icon__item--whatsapp.fab.fa-whatsapp
            a(href="#")
              i.icon__item.icon__item--twitter.fab.fa-twitter
            a(href="#")
              i.icon__item.icon__item--pinterest.fab.fa-pinterest-p
            a(href="#")
              i.icon__item.icon__item--facebook.fab.fa-facebook-f
            a(href="#")
              i.icon__item.icon__item--mail.far.fa-envelope-open

          .article__post Post a Comment

  // TODO: Carousel infinite